.App {
	/* margin: 2em auto;
	max-width: 60%; */
	width: 90vw;
	margin: 0 auto;
	max-width: 50rem;
	margin-top: 8rem;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	padding: 2rem;
}
.App h1 {
	text-align: center;
}
